NODE_ENV=development
API_PORT=3001
PUBLIC_URL=localhost
MONGO_DB_HOST=mongodb://localhost:27017/quickstart
MONGO_DB_USER=dbuser
MONGO_DB_PASSWORD=1q2w3e4r
SALT_WORK_FACTOR=10
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=1y
JWT_SECRET=1q2w3e4r
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=1q2w3e4r
POSTGRES_DB=quickstart
PAGARME_API_KEY=
PAGARME_CRIPTO_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_MAP_API_KEY=
